/* HTML y Body */

/* formulario */



.container_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
<<<<<<< HEAD
    background-image: url(./img/fondo-form.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
=======
    background-color: rgb(0, 0, 0);
>>>>>>> 7796befcc87689e211024c262bbbf8097fd0a3b5
    max-width: 95vw;
    margin: 10px auto;
}

.form_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 500px;
    margin: 8px auto;
<<<<<<< HEAD
}
=======
    background-color: rgb(15, 100, 29);
    padding: 10px;
       }
>>>>>>> 7796befcc87689e211024c262bbbf8097fd0a3b5

label {
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: flex-end;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    grid-column: 1 / -1;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="submit"] {
    width: 100%;
    border: none;
    background-color: var(--bg-color-second);
    color: var(--first-color);
    cursor: pointer;
    font-family: "Tac One", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    border-radius: 4px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.767);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    color: var(--color-font-hover);
    background-color: var(--bg-color-hover);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.error {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: rgb(230, 39, 39);
    font-size: 14px;
    position: relative;
    bottom: 10px;
}