*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

nav{
    display: block;
    background-color: darkgreen;
}

ul{
    list-style-type: none;  
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    display: inline-flex;
    font-size: 22px;
    font-weight: bold;
}    

a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    padding: 14px;
}

li:hover{
    background-color: darkslategrey;
}

.banner{
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    box-shadow: inset 0 0 0 2000px rgba(84, 84, 84, 0.5);
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    padding-top: 150px;
}

#login{
    float: right;
}